section {
    padding: 40px 0;
}
.collection-title {
    color: #2D2D2D;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 113.9%;
    /* 28.475px */
    letter-spacing: 0.75px;
}
img {
    height: 604px;
    width: 100%;
}
.product {
    padding: 30px 5px;
}
.product-title span a {
    text-decoration: none;
    color: #CECECE;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 113.9%;
    letter-spacing: 0.39px;
}
.product-title p a {
    text-decoration: none;
    color: #2D2D2D;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 113.9%;
    /* 14.807px */
    letter-spacing: 0.39px;
}
.product-header h3 {
    color: #2D2D2D;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 113.9%;
    /* 28.475px */
    letter-spacing: 0.75px;
}
.clothes-image {
    position: relative;
}
.clothes-image img {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.clothes-title {
    padding-top: 8px;
    color: #2D2D2D;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 113.9%
}
.clothes-title a {
    text-decoration: none;
    color: #2D2D2D;
}
.overlay a i {
    position: absolute;
    top: 11px;
    right: 11px;
    color: white;
    font-size: 18px;
}
.product-header-filter{
    display: flex;
    justify-content: space-between;
    
}
.product-filter select{
    color: #2D2D2D;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 113.9%;
    padding: 5px;
    border: none;
}
.product-filter option{
    border: none;
    padding: 8px 10px;
    opacity: 0.8;
}
.clothes{
    display: grid;
    place-items: center;
}